code/framework/extension-spring/src/main/resources/META-INF/extension-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://cattle.io/schemas/spring/extension"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://cattle.io/schemas/spring/extension"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:complexType name="DiscoverType">
        <xsd:attribute name="class" type="xsd:string" use="required" />
        <xsd:attribute name="key" type="xsd:string" use="optional" />
    </xsd:complexType>

    <xsd:element name="discover" type="DiscoverType" />

</xsd:schema>