code/iaas/logic-common/src/main/resources/META-INF/generic-process-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://cattle.io/schemas/spring/process/generic-process"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://cattle.io/schemas/spring/process/generic-process"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:complexType name="ProcessType">
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="resourceType" type="xsd:string" use="required" />
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="start" type="xsd:string" use="required" />
        <xsd:attribute name="transitioning" type="xsd:string" use="required" />
        <xsd:attribute name="done" type="xsd:string" use="required" />
        <xsd:attribute name="stateField" type="xsd:string" use="optional" />
        <xsd:attribute name="delegate" type="xsd:string" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="DefaultProcessType">
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="resourceType" type="xsd:string" use="required" />
        <xsd:attribute name="exclude" type="xsd:string" use="optional" />
        <xsd:attribute name="stateField" type="xsd:string" use="optional" />
        <xsd:attribute name="renames" type="xsd:string" use="optional" />
        <xsd:attribute name="processRenames" type="xsd:string" use="optional" />
    </xsd:complexType>

    <xsd:element name="process" type="ProcessType" />

    <xsd:element name="defaultProcesses" type="DefaultProcessType" />

</xsd:schema>